@import '@styles/variables.scss';

.container-input {
  background-color: $light;
  border: solid thin  $light-gray;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 74%;

  .input-search {
    background-color: $light;
    border: none;
    color: $gray;
    font-size: 14px;
    padding: 4px 10px;
    outline: none;
    width: 100%;

    &::placeholder {
      color: $gray;
    }
  }

  .icon-search {
    background-color: $light-gray;
    cursor: pointer;
    padding: 8px;
    width: 16px;
  }
}