@import 'styles/variables.scss';

.header {
  background-color: $yellow;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;

  .logo {
    display: none;
  }
}


@media (min-width: 600px) {
  .header {
    .logo {
      cursor: pointer;
      display: block;
    }
  }
}