@import '../../styles/variables.scss';

.container-layout {
  align-items: center;
  background-color: $light-gray;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  .container-breadcrumb {
    color: $gray;
    display: flex;
    justify-content: flex-start;
    margin: 16px 0;
    width: 92%;

    .text-breadcrumbs {
      text-transform: capitalize;
    }
  }

  .container-body {
    background-color: $light;
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100%;
  }
}


@media (min-width: 600px) {
  .container-layout {
    .container-breadcrumb, .container-body {
      width: 80%;
    }
  }
}