@import 'styles/variables.scss';

.container-layout {
  align-items: center;
  background-color: $light-gray;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: calc(100vh - 80px);
  padding-bottom: 20px;
  width: 100%;

  .container-breadcrumb {
    color: $gray;
    display: flex;
    justify-content: flex-start;
    margin: 16px 0;
    width: 92%;

    .text-breadcrumbs {
      text-transform: capitalize;
    }
  }

  .container-body {
    background-color: $light;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}


@media (min-width: 600px) {
  .container-layout {
    .container-breadcrumb, .container-body {
      width: 80%;
    }
    .container-body {
      padding: 10px;
    }
  }
}